* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-size: 28px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
}

body {
    background-color: rgb(226, 164, 92);
}

.calc-cont {
    box-sizing: content-box;
    padding: 5px;
    width: 400px;
    max-width: 400px;
    height: auto;
    border: 5px outset rgb(146, 146, 146);
    margin: 5vh auto;
    border-radius: 15px;
    background-color: dimgray;
    box-shadow: 0 0 10px 10px rgba(0,0,0,0.4);
}

.display {
    background-color: rgb(53, 53, 53);
    border: 5px inset rgb(90, 89, 89);
    width: auto;
    height: 3rem;
    margin: 20px 20px;
    border-radius: 15px;
    display: flex;
    justify-content: right;
    align-items: center;
}

p {
    margin-right: 0.5rem;
    font-size: 50px;
    color: rgb(253, 247, 240);
}

/* ----- Flexbox bullshit ----- */

.btn-cont-operator, .btn-bottom-cont, .btn-number-cont, .btn-result-cont {
    display: flex;
}

.btn-cont-operator, .btn-number-cont, .btn-result-cont {
    margin: 10px;
    gap: 5px;
}

.btn-cont-operator {
    margin-bottom: 0;
}

.btn-number-cont {
    margin-top: 5px;
    margin-right: 0;
    flex-wrap: wrap;
    width: 300px;
    max-width: 300px;
}

.btn-result-cont {
    margin-top: 5px;
    margin-left: 0;
    width: 100px;
    max-width: 100px;
    justify-content: center;
}

button {
    flex: 1 1 90px;
    max-width: 90px;
    height: 90px;
}

.btn-result {
    height: 100%;
}

/* ----- Button styles ----- */

button:hover {
   opacity: 0.7;
   transition-duration: 0.2s;
}

button {
    border: 5px outset rgb(255, 255, 255);
    border-radius: 20px;
}

.btn-operator {
    background-color: rgb(148, 148, 148);
    border-color: rgb(182, 182, 182);
}

.btn-result {
    background-color: rgb(82, 224, 82);
    border-color: rgb(114, 253, 114);
}

.btn-backspace {
    background-color: rgb(255, 102, 102);
    border-color: rgb(255, 136, 136);
}

button:active {
    transform: translateY(2px);

}

